* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #f6f8fc;
}

.content {
    padding: 1rem;
    background-color: #fff;
    height: 100vh;
}

@media screen and (min-width : 576px) {
    .content {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width : 992px) {
    .content {
        max-width: 992;
        height: auto;
        margin: 0 auto;
        border-radius: 1rem;
    }
}

.content h1 {
    margin: 0;
}

.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}